@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    line-height: 1.6;
}

.s-center {
    text-align: center;
}

@media screen and (min-width:1024px) {

    .s-center {
        text-align: left;
    }

}

.flex {
    display: flex;
}